@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Add a Cuisine</h2>

<h4>Add a Cuisine to this Restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select Cuisine")
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to restaurants", "Index")</p>